<h1>My Tasks</h1>
<% @tasks.each do |task| %>
<h2>
  <%= link_to task.title, task_path(task) %>
</h2>
<% if task.completed %>
  <input type="checkbox" id="/" name="/" checked>
<% else %>
    <input type="checkbox" id="/" name="/">
<% end %>
<%= link_to "Delete", destroy_path(task),
      method: :delete,
      data: { confirm: "Are you sure?" } %>
<% end %>

<%= link_to "Add a new task", tasks_new_path %>




